<!-- Hauptcontainer der App-Komponente -->
<div class="app-container">
  <!-- Kopfzeile mit dem Titel der Anwendung -->
  <header>
      <h1>{{ title }}</h1> <!-- Dynamische Datenbindung für den Titel -->
  </header>

  <!-- Hauptinhalt der Komponente -->
  <main>
      <p class="name">{{ meinName }}</p><!-- Ausgabe Ihres Namens -->
      <p>Sie können jetzt auch mit Angular entwickeln.</p>
      <!-- Hier können weitere Inhalte hinzugefügt werden -->
  </main>
</div>

<!-- Zusätzliche Script-Tags oder Links zu externen Ressourcen können hier eingefügt werden -->
